.App {
  text-align: center;
}

* {
  box-sizing: border-box;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

body {
  width: 100%;
  height: 100%;
  position: relative;
  background-image: url(back-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 50px;
}

.center {
  width: 100%;
  height: 50%;
  margin: 0;
  position: absolute;
  color: white;
  text-align: center;
  text-shadow: 2px 2px 6px gray;
  font-size: 40px;
}

.splash {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 200;
  text-align: center;
  line-height: 70vh;
  color: white;
  background-image: url(splash.jpg);
  text-shadow: 2px 2px 6px gray;
  background-repeat: no-repeat;
  background-size: cover;
  filter: grayscale(40%);
  font-size: 40px;
}

.splash.display-none {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -100;
  text-align: center;
  line-height: 70vh;
  transition: all 1s;
  background-image: none;
  color: transparent;
  text-shadow: 2px 2px 6px transparent;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.fade-in {
  opacity: 0;
  animation: fadeIn 1.5s ease-in forwards;
}

:root {
  --peekobot-height: 60vh;
  --peekobot-avatar: url("doc-icon.png");
}

body {
  font-family: sans-serif;
}

#peekobot-container {
  border-radius: 12px;
  box-shadow: 2px 2px 5px hsl(0, 0%, 60%);
  padding: 1rem 1rem 2rem 1rem;
  height: var(--peekobot-height);
  position: sticky;
  align-items: center;
  width: 50%;
  left: 25%;
  background-color: rgba(255, 255, 255, 0.5);
  ;
}

#peekobot-inner {
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-behavior: smooth;
  position: relative;
  /* Hiding scrollbars is a pain. This is from: https://redstapler.co/css-hidden-scrollbar-while-scrollable-element/ */
  scrollbar-width: none;
  -ms-overflow-style: none;
}

#peekobot-inner::-webkit-scrollbar {
  display: none;
  /* Chrome Safari */
}

.chat-response,
.chat-ask {
  opacity: 0;
  /* Set to activated to show */
  transform: translateY(-50%);
  /* Set to activated to move down */
  transition: all 0.3s 0.3s;
  border-radius: 12px;
  background-color: white;
  padding: 0.5rem 0.7rem;
  line-height: 1.4;
  color: black;
  width: 400px;
  margin-bottom: 0.5rem;
  text-shadow: none;
  font-size: 20px;
  box-shadow: 2px 2px 5px hsl(0, 0%, 60%);
}

.chat-response {
  margin-left: 26px;
  position: relative;
  width: 400px;
}

.chat-response:before {
  display: block;
  content: '';
  width: 24px;
  height: 24px;
  position: absolute;
  left: -26px;
  top: 6px;
  background-image: var(--peekobot-avatar);
  background-color: #FFF;
  background-repeat: no-repeat;
  background-size: 100%;
  border-radius: 100%;
}

.chat-ask {
  background-color: #3c9c63;
  margin-right: 0;
  margin-left: auto;
  color: hsl(0, 0%, 100%);
  box-shadow: 2px 2px 5px hsl(0, 0%, 60%);
}

.choices {
  opacity: 0;
  /* Set to active to show */
  transform: translateY(-50%);
  /* Set to activated to move down */
  transition: all 0.3s 0.3s;
  transition: opacity 0.3s 0.3s;
  margin-top: 0.5rem;
  margin-left: 22px;
  color: #358856;
}

.choice {
  display: inline-block;
  outline: none;
  border: 1px solid white;
  box-shadow: 2px 2px 5px hsl(0, 0%, 60%);
  padding: 0.3rem 0.8rem;
  background-color: hsl(0, 0%, 100%);
  border-radius: 1rem;
  font-size: 0.9rem;
  line-height: 1.3;
  margin-bottom: 0.5rem;
  margin-right: 0.5rem;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.choice:disabled {
  color: hsl(0, 0%, 80%);
  border-color: hsl(0, 0%, 80%);
}

.activated {
  opacity: 1;
  transform: translateY(0);
}

.restart {
  position: absolute;
  bottom: 0.5rem;
  right: 0.5rem;
  outline: none;
  font-size: 12px;
  color: hsl(0, 0%, 50%);
  box-shadow: none;
  border: 1px solid hsl(0, 0%, 60%);
  border-radius: 1rem;
  background: hsl(0, 0%, 100%);
  padding: 0.2rem 0.5rem;
  cursor: pointer;
}